<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic board
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (submit)="addPost()" name="form">
    <ion-list class="inputBlock">
      <ion-item margin-bottom class="textBlock">
        <ion-label position="floating">message</ion-label>
        <ion-input name="message" required [(ngModel)]="message" type="text"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full" block class="submit" [disabled]="!f.form.valid">
        throw message
      </ion-button>
    </ion-list>
  </form>

  <ion-card class ="singlePost" *ngFor="let p of posts">
    <ion-item>
      <h2 padding-vertical>{{p.userName}}</h2>
    </ion-item>
    <ion-card-content>
      <div margin-buttom>{{p.message}}</div>
      <ion-row>
        <ion-col size="6" size-sm>
          <ion-button fill="clear" size="small">
            <ion-icon name="text"></ion-icon>
            <div>comment</div>
          </ion-button>
        </ion-col>
        <ion-col size="6" size-sm>
          <ion-button fill="clear" size="small" (click)="presentPrompt(p)">
            <ion-icon name="create"></ion-icon>
            <div>update</div>
          </ion-button>
        </ion-col>
        <ion-col size="6" size-sm>
          <ion-button fill="clear" size="small" (click)="deletePost(p)">
            <ion-icon name="text"></ion-icon>
            <div>delete</div>
          </ion-button>
        </ion-col>
        <ion-col size="6" size-sm class="postedTime">
          <ion-note>{{p.createdDate}}</ion-note>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-button class="subLink" (click) = "gotoSignup()" fill="clear">
    login
  </ion-button>
</ion-content>